@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border-gradient {
        background: 
            linear-gradient( to top, #16a34a, #16a34a);
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
    }

    .banner--fadeBottom {
        height: 7.4rem;
        background-image: linear-gradient(
            180deg,
            transparent,
            #0e0f11,
            #0e0f11
        );
    }
}